.ripple {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.5); /* Red color with transparency */
    border-radius: 50%;
    pointer-events: none; /* Prevent interaction */
    transform: translate(-50%, -50%);
    animation: rippleAnimation 0.5s linear infinite;
    border: 2px solid red;
  }
  
  @keyframes rippleAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  